#container {
    -webkit-transition: left .2s ease-out;
    -webkit-perspective: 500px;
    -webkit-perspective-origin: 400px -200px;
    position: absolute;
    top: 100px;
    width: 1200px;
    height: 400px;
    box-sizing: border-box;
}

#viewport {
    position: absolute;
    top: 300px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: p8x;
}

.listItem {
    -webkit-transition: all .5s ease-out;
    border: 1px solid #000;
    background-color: #ccf;
    padding: 16px;
    width: 240px;
    height: 160px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    opacity: .8;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from( transparent ), color-stop(0.5, transparent), to( rgba(50,50,50,0.7) ) );
}

.leftSide {
    /*-webkit-transform: rotateY(55deg) scale(.8) translateZ(-1px);*/
}
.leftSide:nth-child(1) {
    -webkit-transform: translateX(40px) rotateY(55deg) scale(.8);
}

.leftSide:nth-child(2) {
    -webkit-transform: translateX(100px) rotateY(55deg) scale(.8);
}

.leftSide:nth-child(1):hover {
    -webkit-transform: translateX(40px) rotateY(0deg);
}

.leftSide:nth-child(2):hover {
    -webkit-transform: translateX(100px) rotateY(0deg);
}


.rightSide {
    /*-webkit-transform: rotateY(-55deg) scale(.8);*/
}
.rightSide:nth-child(4) {
    -webkit-transform: translateX(380px) rotateY(-55deg) scale(.8);
    z-index: 4;
}

.rightSide:nth-child(5) {
    -webkit-transform: translateX(440px) rotateY(-55deg) scale(.8);
    z-index: 3;
}

.rightSide:nth-child(4):hover {
    -webkit-transform: translateX(380px) rotateY(-0deg);
}

.rightSide:nth-child(5):hover {
    -webkit-transform: translateX(440px) rotateY(-0deg);
}


.focusedItem {
    left: 240px;
    top: 32px;
    z-index: 5;
    position: absolute;
    -webkit-transform: rotateY(0);
    opacity: 1;
}

.listItem:hover {
    opacity: 1;
    z-index: 6;
}